<section >
  <div class="container px-4 px-lg-5">
    <div class="row row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
      <div class="col mb-5 mt-5" >
    @for(step of steps; track step.id){
        <div class="targeta shadow "[ngStyle]="{'background-color': step.bgcolor}"  >
          @if(step.id === this.currentStep){ 
						<img class="card-img-top" [src]="step.imagen" alt="..." />
						<div class="card-body p-4 bg-white"  >
							<div class="text-start" >
								<h3 class="fw-bolder">{{ step.title }}</h3>
								<p>{{ step.descripcion }}</p>
							</div>
						<div class="card-footer p-4 pt-0 bg-white">   
                <button type="button" class="btn btn-primary" (click)="incrementar()"><i class="fa-solid fa-circle fa-2xs circulo"></i></button>  
                <button type="button" class="btn btn-primary mx-1" (click)="incrementar()"><i class="fa-solid fa-circle fa-2xs circulo"></i></button>  
                <button type="button" class="btn btn-primary" (click)="incrementar()"><i class="fa-solid fa-circle  fa-2xs circulo"></i></button> 
                <button type="button" class="btn btn-primary" (click)="decrementar()" [disabled]="this.currentStep === 1"><i class="fa-solid fa-circle-left fa-2xl izquierda"></i></button>
                <button type="button" class="btn btn-primary" (click)="incrementar()" [disabled]="this.currentStep == this.steps.length"><i class="fa-solid fa-circle-right fa-2xl derecha"></i></button>
            </div>
          </div>
            }
        </div>
    }
  </div>
 
  </div>
    </div>
</section>
